*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* --border:1px solid #000; */
}
.container{
    max-width: 1440px;
    height: auto;
    border: var(--border);
    margin: 0px auto;
    display: flex;
}
.control{
    background: #E5E5E5;
    width: 80%;
    height: 1000px;
}